body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.header {
  background-color: #eeee;
  height: 100px;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-section {
  position: relative;
}
.image-section img {
  height: calc(100vh - 200px);
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
.image-section::before {
  content: '';
  background-color: #333;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}
.overlay-text span{
 color: #fff;
 margin-bottom: 8px;
}
.overlay-text button{
 border: 1px solid #ddd;
 border-radius: 4px;
 padding: 6px;
 color: #333;
 cursor: pointer;
}
.footer {
  background-color: #eeee;
  height: 100px;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
